<div class="popup" id="order-ticket">
    <div class="container">
        <form class="form" action="">
            <div class="form-header">
                <h3 class="form-header__title form-header__title_size_color">
                    Бронирование <hr>
                    билетов
                </h3>
                <div class="form-close form-close_size_color" data-form="order-ticket">
                    <span class="form-close__item form-close__item_size_color"></span>
                    <span class="form-close__item form-close__item_size_color"></span>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form-section">
                    <div class="form-block">
                        <label class="form-block__label" for="">Дата заезда</label>
                        <input class="form-block__input" type="number" placeholder="13.05.2022">
                    </div>
                    <div class="form-block">
                        <label class="form-block__label" for="">Дата выезда</label>
                        <input class="form-block__input" type="number" placeholder="13.05.2032">
                    </div>
                    <div class="form-block">
                        <label class="form-block__label" for="">Количество</label>
                        <input class="form-block__input" type="number" placeholder="1 человек">
                    </div>
                </div>
                <div class="form-action">
                    <button class="form-action__button form-action__button_size_color" type="submit">Купить билеты</button>
                </div>
            </div>
        </form>
    </div>
</div>